.btn {
	$this: &;

	padding: 0;
	cursor: pointer;
	font-family: var(--main-font);
	transition: color var(--transition300ms), background-color var(--transition300ms);
	color: currentColor;

	@media (any-hover: hover) {
		&:hover {
			//background-color: var(--accent-hover);
			//color: #fff;
		}
	}

	&.disabled,
	&[disabled] {
		//background-color: var(--disabled);
		border: none;
		cursor: not-allowed;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}

	svg,
	.icon,
	&__icon {
		flex-shrink: 0;
	}

	&__text {}

	&--primary {
		background-color: var(--accent);
		color: var(--white);
	}

	&--style {
		&_bg {
			&-white {}
		}

		&_tab {}

		&_more {}

		&_link {}
	}

	&--transparent {
		background-color: transparent;

		@media (any-hover: hover) {
			&:hover {
				background-color: transparent;
			}
		}
	}
}
