.btn {
	$this: &;

	padding: 0;
	cursor: pointer;
    display: inline-flex;
    align-items: center;
    border: none;
	font-family: var(--main-font);
	transition: color var(--transition);
	color: currentColor;

	@media (any-hover: hover) {
		&:hover {
			//background-color: var(--accent-hover);
			//color: var(--white);
		}
	}

	&.disabled,
	&[disabled] {
		//background-color: var(--disabled);
		border: none;
		cursor: not-allowed;

		@media (any-hover: hover) {
			&:hover {
				color: var(--white);
			}
		}
	}

	svg,
	.icon,
	&__icon {
		flex-shrink: 0;
	}

	&__text {
        position: relative;
        z-index: 3;
    }

	&--primary {
        position: relative;
        padding: px2rem(9) var(--offset-s);
		background: var(--button-bg);
		color: var(--white);
        font-size: px2rem(14);
        font-weight: 600;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            @include hide();
            transition: var(--transition) all;
        }

        &::before {
            background: var(--button-bg-hover);
        }

        &::after {
            background: var(--button-bg-pressed);
        }

        @media (any-hover: hover) {
            &:hover {
                &::before {
                    @include show();
                }
            }
        }

        &:focus,
        &:active {
            &::before {
                @include hide();
            }

            &::after {
                @include show();
            }
        }
	}

	&--style {
		&_tab {
            color: var(--white);
            font-weight: 600;

            &.active {
                color: var(--pink);
            }

            @media (any-hover: hover) {
                &:hover {
                    color: var(--pink);
                }
            }
        }

		&_link {
            font-size: px2rem(14);
            font-weight: 600;
            color: var(--accent);

            @media (any-hover: hover) {
                &:hover {
                    #{$this}__text {
                        text-decoration: underline;
                    }
                }
            }
        }
	}

    &--size {
        &_l {
            padding: var(--offset-s) var(--offset-l);
        }

        &_xl {
            padding: px2rem(43) px2rem(100);
            border-radius: px2rem(200);
            font-size: px2rem(28);
        }
    }

	&--transparent {
		background-color: transparent;

		@media (any-hover: hover) {
			&:hover {
				background-color: transparent;
			}
		}
	}
}

.btns {
    display: flex;
    flex-wrap: wrap;
    gap: var(--offset-s) var(--offset-l);

    &--links {
        gap: var(--offset-xxs) var(--offset-m);
    }
}

.filter-btns {
    padding-bottom: px2rem(35);

    &__item {
        &.active {
            color: var(--black);
        }
    }
}