h {
    &1 {
        font-size: rem(32);
    }

    &2 {
        font-size: rem(28);
    }

    &3 {
        font-size: rem(24);
    }

    &4 {
        font-size: rem(20);
    }

    &5 {
        font-size: rem(18);
    }

    &6 {
        font-size: rem(16);
    }
}
