h1, ._h1 {
    font-size: px2rem(32);
}

h2, ._h2 {
    font-size: px2rem(28);
}

h3, ._h3 {
    font-size: px2rem(24);
}

h4, ._h4 {
    font-size: px2rem(20);
}

h5, ._h5 {
    font-size: px2rem(18);
}

h6, ._h6 {
    font-size: px2rem(16);
}

h {
    &1, &2, &3, &4, &5, &6 {
        font-weight: 500;
    }
}

._h {
    &1, &2, &3, &4, &5, &6 {
        font-weight: 500;
    }
}
