.features-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap);

    >* {
        width: px2rem(170);

        @include media('767', max) {
            width: calc(50% - var(--gap) / 2);
        }
    }
}