.pagination {
    padding-top: var(--offset-xxxl);
	display: flex;
    gap: var(--offset-x);

	// .pagination__link

	&__link {
        @include flex-center;
        min-width: px2rem(50);
        height: px2rem(60);
        background-color: var(--gray-fa);
        font-weight: 600;
        transition: var(--transition) background-color, var(--transition) color;

		&.active {
			background: var(--button-bg);
            color: var(--white);
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accent);
                color: var(--white);
			}
		}
	}
}
