.info-item {
    $this: &;

    @include flex-center-y;
    gap: var(--offset-s);

    @include media('500', max) {
        gap: var(--offset-x);
    }

    &__icon {
        @include flex-center;
        flex-shrink: 0;
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: 50%;
        background-color: var(--black);
    }

    &__text {
        @include media('500', max) {
            font-size: px2rem(12);
        }

        b {
            font-weight: 500;
        }

        &.mob-hidden,
        .mob-hidden {
            @include media('1100', max) {
                display: none;
            }
        }
    }

    &--link {
        #{$this} {
            &__text {
                color: var(--accent);

                @media (any-hover: hover) {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &__icon {
                transition: var(--transition) transform;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                #{$this}__icon {
                    transform: rotate(360deg);
                }
            }
        }
    }
}
