body {
	min-width: 320px;
	font-style: normal;
	font-family: var(--main-font);
	font-size: calc(var(--base-font-size) / 10 * 1rem);
	line-height: 1.5;
	font-weight: 400;
	color: var(--color-default);

	@media(max-width: $lg) {
		overflow-x: hidden;
	}

	&._lock {
		overflow-y: hidden;
	}
}

button,
input,
textarea {
	font-family: var(--main-font);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	border: none;

	table & {
		max-width: none;
	}
}
