.container {
    width: calc(var(--container-width) + var(--container-padding) * 2);
    max-width: 100%;
    @include padding-x(var(--container-padding));
    margin: 0 auto;
}

.wrapper {
    position: relative;
    @include flex-column;
    min-height: 100vh;

    @include media('1100', max) {
        overflow-x: hidden;
    }
}

.page {
    position: relative;
    flex: 1 0 auto;
}

.grid-row {
    --baseWidth: #{px2rem(270)};

    @include grid-auto-fit(var(--baseWidth), var(--gap));

    &--items {
        &_2 {
            --baseWidth: #{px2rem(570)};
        }

        &_3 {
            --baseWidth: #{px2rem(370)};

            @include media('500', max) {
                --baseWidth: #{px2rem(290)};
            }
        }

        &_6 {
            --baseWidth: #{px2rem(170)};
        }
    }

    &--full {
        grid-template-columns: unset;
    }
}

.grid-col {
    $this: &;

    &-2 {
        grid-column: span 2;
    }

    &-3 {
        grid-column: span 3;
    }

    &-4 {
        grid-column: span 4;

        @include media('1100', max) {
            grid-column: 1 / -1;
        }
    }

    &-5 {
        grid-column: span 5;

        @include media('1100', max) {
            grid-column: 1 / -1;
        }
    }

    &-6 {
        grid-column: span 6;

        @include media('1100', max) {
            grid-column: 1 / -1;
        }
    }

    &-7 {
        grid-column: span 7;
    }

    &-8 {
        grid-column: span 8;

        @include media('1100', max) {
            grid-column: 1 / -1;
        }
    }

    &-9 {
        grid-column: span 9;

        @include media('1100', max) {
            grid-column: 1 / -1;
        }
    }

    &-10 {
        grid-column: span 10;
    }

    &-12 {
        grid-column: 1 / -1;
    }
}
