.container {
    max-width: calc(var(--container-width) + var(--container-padding) * 2);
    @include padding-x(var(--container-padding));
    margin: 0 auto;
}

.wrapper {
    position: relative;
    @include flex-column;
    min-height: 100vh;
    overflow-x: hidden;
}

.page {
    position: relative;
    flex: 1 0 auto;
}

.grid-row {
    --baseWidth: #{px2rem(270)};

    @include grid-auto-fit(var(--baseWidth), var(--gap));

    &--items {
        &_2 {
            --baseWidth: #{px2rem(570)};

            @include media('767', max) {
                --baseWidth: #{px2rem(290)};
            }
        }

        &_3 {
            --baseWidth: #{px2rem(370)};

            @include media('500', max) {
                --baseWidth: #{px2rem(290)};
            }
        }

        &_6 {
            --baseWidth: #{px2rem(170)};
        }
    }

    &--full {
        @include flex-column;
    }
}
