.breadcrumbs {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--offset-x) var(--offset-m);
    }

	&__item {
		position: relative;
        font-size: px2rem(14);

		@media (any-hover: hover) {
			&:hover {
				
			}
		}

		span {
			color: var(--gray-78);
		}
	}

    &__link {
        position: relative;
        padding-right: var(--offset-m);
        transition: var(--transition) color;

        @media (any-hover: hover) {
            &:hover {
                color: var(--accent);
            }
        }

        &:after {
			content: '';
            @include position-center-y;
            right: 0;
            width: px2rem(5);
            height: px2rem(9);
            background-image: url(../images/icons/crumb-arrow.svg);
            @include bg(contain);
		}
    }
}
