.checkbox {
    $this: &;

    @include flex-center-y;
    flex-wrap: wrap;
    cursor: pointer;

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);

        &:checked ~ #{$this} {
            &__style {
                background-color: var(--accent);
                border-color: var(--accent);

                &:before {
                    opacity: 1;
                }
            }
        }
    }

    &__style {
        position: relative;
        flex-shrink: 0;
        margin-right: var(--offset-m);
        width: var(--icon-size);
        height: var(--icon-size);
        background-color: var(--gray-fa);
        border-radius: var(--radius);
        border: var(--border);
        transition: var(--transition) background-color, var(--transition) border-color;

        &:before {
            content: '';
            @include position-center-xy;
            width: px2rem(12);
            height: px2rem(9);
            background-image: url(../images/icons/check.svg);
            @include bg(contain);
            opacity: 0;
            transition: var(--transition) opacity;
        }
    }

    &__text {   
        @include media('500', max) {
            font-size: px2rem(14);
        }

        a {
            color: var(--accent);
            transition: var(--transition) color;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--pink);
                }
            }
        }
    }

    .error-text {
        margin-top: var(--offset-x);
        width: 100%;
    }
}
