.social {
	$this: &;

	display: flex;
	
    &__link {
        transition: var(--transition) transform;

        @media (any-hover: hover) {
            &:hover {
                transform: translateY(calc(var(--offset-xxs) * (-1)));
            }
        }
    }

    &__icon {
        width: var(--icon-size_xl);
        height: var(--icon-size_xl);
    }
}
