.slider-nav {
    &__list {
        display: flex;
        
        @include media('768', min) {
            justify-content: center;
        }

        @include media('767', max) {
            overflow-x: auto;
        }

        /* @include media('767', max) {
            flex-direction: column;
            align-items: center;
        } */
    }

    &__item {
        &:not(:last-child) {
            position: relative;

            &::after {
                content: '';
                @include position-center-y;
                right: 0;
                width: 1px;
                height: px2rem(20);
                background-color: var(--gray-dc);
            }
        }

        @include media('767', max) {
            white-space: nowrap;
        }
    }

    &__btn {
        padding: var(--offset-x) var(--offset-xl);
        color: var(--gray-82);

        @media (any-hover: hover) {
            &:hover {
                color: var(--black);
            }
        }

        &.active {
            color: var(--black);
        }
    }
}
