.header {
    @include media('1100', max) {
        @include padding-y(var(--offset-s));
    }

    &__inner {
        @include flex-center-between;
        gap: var(--offset-s);
        
        @include media('1101', min) {
            height: var(--header-height);
        }

        >* {
            @include media('768', min) {
                width: 33.3333%;
            }
        }
    }

    &__info-items {
        @include flex-column;
        gap: var(--offset-x);

        @include media('1100', max) {
            flex-direction: row;
        }
    }

    &__call {
        @include media('1100', max) {
            display: none;
        }
    }

    &__burger {
        display: none;

        @include media('1100', max) {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__logo {
        @include flex-center;

        .logo__img {
            @include media('767', max) {
                width: px2rem(80);
            }
        }
    }
}
