.gallery {
    $this: &;

    --cols: 2;
    --rows: 3;
    --rowSize: px2rem(265);

    @include media('767', max) {
        --rowSize: px2rem(120);
    }

    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), var(--rowSize));
    gap: var(--gap);

    // .about-section__gallery-item 
    &__item {
        overflow: hidden;

        &--1 {
            grid-column: span 2;
        }

        &--1 {
            grid-row: span 2;
        }
    }

    &--items {
        &_4 {
            --cols: 4;
            --rows: 2;

            @include media('500', max) {
                --rows: 4;
            }

            #{$this}__item {
                &--1 {
                    @include media('500', max) {
                        grid-column: 1 / -1;
                    }
                }

                &--2 {
                    grid-row: span 2;

                    @include media('500', max) {
                        grid-column: span 2;
                    }
                }

                &--3,
                &--4 {
                    @include media('500', max) {
                        grid-column: span 2;
                    }
                }
            }
        }
    }
}