.rating {
    @include flex-center-y;
    gap: var(--offset-xxs) var(--offset-m);

    &__stars {
        @include flex-center-y;
        column-gap: 1px;
    }

    &__star {
        flex: 0 0 px2rem(14);
        width: px2rem(14);
        height: px2rem(14);
    }

    &__value {
        margin-left: px2rem(9);
        font-weight: 600;
    }
}
