.socials {
    display: flex;
    flex-wrap: wrap;
    gap: var(--offset-s);

    &--share {
        gap: var(--offset-x);

        .social {
            &__link,
            &__icon {
                border-radius: var(--radius);
            }

            &__icon {
                width: var(--icon-size);
                height: var(--icon-size);
            }
        }
    }
}
