:root {
	--color-white-rgb: 255, 255, 255;
	--white: rgb(var(--color-white-rgb));
	--black: #000;

	// offsets (gaps)
	--offset-xxxl: #{rem(60)};
	--offset-xxl: #{rem(50)};
	--offset-xl: #{rem(40)};
	--offset-l: #{rem(30)};
	--offset-m: #{rem(20)};
	--offset-s: #{rem(15)};
    --offset-x: #{rem(10)};
	--offset-xxs: #{rem(8)};
	--offset-xxxs: #{rem(4)};

    //--gap: #{rem(30)};

    --container-width: #{rem(1170)};
	--container-padding: #{rem(15)};

    //--icon-size_s: #{rem(16)};
    //--icon-size_sm: #{rem(20)};
    --icon-size: #{rem(32)};
    //--icon-size_l: #{rem(32)};
    //--icon-size_xl: #{rem(40)};
    //--icon-size_xls: #{rem(48)};

    //--header-height: 9.6rem;

	--section-padding_xs: var(--offset-xxxl);
	--section-padding: #{rem(80)};
	--section-padding_xl: #{rem(100)};
    --section-padding_xxl: #{rem(120)};

    // --space-paragraph: var(--offset-xxs);

	--base-font-size: 16;
	--main-font: 'Montserrat', sans-serif;
	--color-default: var(--black);

	--transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
	--duration300ms: 0.3s;
	--duration500ms: 0.5s;
	--duration1s: 1s;
	--delay: var(--duration300ms);
	--transition: var(--duration300ms) var(--transition-timing);
	--transition-long: var(--duration1s) var(--transition-timing);

    //--border-width: 1px;
    //--border-style: solid;
	//--border: var(--border-width) var--border-style) var(--line-color);
	//--shadow: ;
	//--radius: 8px;
	//--radius-card: 12px;
}
