:root {
	--color-white-rgb: 255, 255, 255;
	--white: rgb(var(--color-white-rgb));
    --color-black-rgb: 40, 40, 40;
	--black: rgb(var(--color-black-rgb));
    --accent: #C10046;
    --pink: #D752B3;
    --dark: #15171A;
    --beige: #FBF0E1;
    --gray-fa: #FAFAFA;
    --gray-f0: #F0F0F0;
    --gray-82: #828282;
    --gray-dc: #DCDCDC;
    --gray-64: #646464;
    --gray-e6: #E6E6E6;
    --gray-78: #787878;
    --disabled-bg: var(--gray-e6);
    --button-bg-gradient-degree: 134deg;
    --button-bg: linear-gradient(var(--button-bg-gradient-degree), var(--accent) 0%, var(--pink) 100%);
    --button-bg-hover: linear-gradient(var(--button-bg-gradient-degree), var(--pink) 0%, var(--accent) 100%), var(--pink);
    --button-bg-pressed: linear-gradient(var(--button-bg-gradient-degree), var(--pink) 0%, var(--accent) 47.60%, var(--pink) 100%), var(--pink);

	// offsets (gaps)
	--offset-xxxl: #{px2rem(60)};
	--offset-xxl: #{px2rem(50)};
	--offset-xl: #{px2rem(40)};
	--offset-l: #{px2rem(30)};
	--offset-m: #{px2rem(20)};
	--offset-s: #{px2rem(15)};
    --offset-x: #{px2rem(10)};
	--offset-xxs: #{px2rem(5)};

    --gap: var(--offset-l);
    --gap-xl: var(--offset-xxxl);

    --container-width: #{px2rem(1170)};
	--container-padding: #{px2rem(15)};

    //--icon-size_s: #{px2rem(16)};
    //--icon-size_sm: #{px2rem(20)};
    --icon-size: #{px2rem(32)};
    //--icon-size_l: #{px2rem(32)};
    //--icon-size_xl: #{px2rem(40)};
    //--icon-size_xls: #{px2rem(48)};

    --header-height: #{px2rem(180)};
    --nav-height: #{px2rem(70)};
    --header-full-height: calc(var(--header-height) + var(--nav-height));

    --section-padding_xxs: #{px2rem(40)};
	--section-padding_xs: #{px2rem(60)};
	--section-padding: #{px2rem(80)};
	--section-padding_xl: #{px2rem(100)};
    --section-padding_xxl: #{px2rem(120)};

    --slider-padding-bottom: #{px2rem(75)};

    // --space-paragraph: var(--offset-xxs);

	--base-font-size: 16;
	--main-font: 'Montserrat', sans-serif;
	--color-default: var(--black);

	--transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
	--duration300ms: 0.3s;
	--duration500ms: 0.5s;
	--duration1s: 1s;
	--delay: var(--duration300ms);
	--transition: var(--duration300ms) var(--transition-timing);
	--transition-long: var(--duration1s) var(--transition-timing);

    //--border-width: 1px;
    //--border-style: solid;
	//--border: var(--border-width) var--border-style) var(--line-color);
	//--shadow: ;
	//--radius: 8px;
	//--radius-card: 12px;
}
